{% extends "main.html" %}

{% block content %}
<h3>catalog page</h3>

<table border="1">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Price Before Discount</th>
            <th>Sale %</th>
            <th>Labels</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            {% include "ecommerce/product-card.html" with product=product img_prefix=img_prefix %}
        {% endfor %}
    </tbody>
</table>

{% endblock content %}