{% extends "main.html" %}
{% load static %}
    
{% block title %} <title>Home Page</title> {% endblock title %}

{% block page_css %}
    <link rel="stylesheet" href="{% static "ecommerce/css/home-page.css" %}">
{% endblock page_css %}


{% block content %}


<!-- categories cards -->
<div class="container-xl category-container">
    <div class="d-flex flex-row justify-content-center gap-4" style="max-width: 1420px;">

        {% for category in categories %}
            <div class="card category-card">
                <span class="badge text-bg-primary position-absolute top-0 start-0 m-3">
                    {{ category.products_count }} Items
                </span>
                <!-- Category Image -->
                <img class="card-img-top" src="{{ category.preview_img }}" alt="{{ category.category_name }}">

                <!-- Footer with Title & Badge -->
                <div class="card-footer">
                    <h4 class="category-title">{{ category.category_name|title }}</h4>
                </div>
                <a href="{% url 'catalog' category.category_name %}" class="stretched-link"></a>
            </div>
        {% endfor %}

    </div>
</div>


<!-- new products -->
<h3>New Products</h3>

<table class="table table-striped table-hover align-middle">
    <tbody>
        {% for product in new_products %}
        <tr>
            <!-- Product Image -->
            <td style="width: 100px;">
                <img src="https://storage.cloud.google.com/football_project/ecommerce/product-images/{{ product.img_path }}" 
                     alt="{{ product.name }}" class="img-fluid rounded" style="width: 80px; height: auto;">
            </td>

            <!-- Product Description & Price -->
            <td>
                {% for label in product.labels.all %}
                    {{ label.label }}
                {% endfor %}
                <div class="fw-bold">{{ product.name }}</div>
            </td>

            <!-- Price -->
            <td>
                <div class="text-success fs-5">${{ product.price }}</div>
                {% if product.price_before_discount %}
                    <div class="text-danger">
                        <s>${{ product.price_before_discount }}</s> 
                        <span class="badge bg-danger ms-2">-{{ product.sale_pct }}%</span>
                    </div>
                {% endif %}
            </td>

            <!-- Action Button -->
            <td>
                <a href="#" 
                   class="btn btn-sm btn-primary">
                   <span class="material-symbols-outlined"> add_shopping_cart </span>
                   Add to Basket</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock content %}