{% load static %}

<div class="card product-card position-relative">
    <!-- Labels (Top-Left Corner) -->
    {% for label in product.labels.all %}
        <span class="badge text-bg-primary position-absolute top-0 start-0 m-2">{{ label.label }}</span>
    {% endfor %}

    <!-- Product Image -->
    <a href="{% url 'product-page' product.category_id.category_name product.slug product.product_id %}">
        <img class="card-img-top" src="https://storage.cloud.google.com/football_project/ecommerce/product-images/{{ product.img_path }}" 
             alt="{{ product.name }}">
    </a>

    <!-- Product Details -->
    <div class="card-footer text-center">
        <h5 class="product-title">{{ product.name }}</h5>
        <p class="product-price fw-bold">{{ product.price }}</p>

        {% if product.price_before_discount %}
            <p class="old-price text-danger"><s>{{ product.price_before_discount }}</s> -{{ product.sale_pct }}%</p>
        {% endif %}
    </div>
</div>
