<footer class="footer mt-5 bg-dark">
    <div class="container-xl d-flex justify-content-between align-items-center" style="max-width: 1420px; ">
        
        <!-- Left Side: Navigation Links -->
        <div class="d-flex">
            <a href="{% url 'home' %}" class="footer-link">HOME</a>
            <a href="/boots/" class="footer-link">BOOTS</a>
            <a href="/balls/" class="footer-link">BALLS</a>
        </div>

        <!-- Right Side: Go Up Button -->
        <div>
            <a href="#" class="btn btn-outline-light go-up-button">
                <span class="material-symbols-outlined arrow-icon">arrow_upward</span>
                Go Up
            </a>
        </div>

    </div>
</footer>
